.lottobox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lottonum1, 
  .lottonum2, 
  .lottonum3, 
  .lottonum4,
  .lottonum5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    
    border-radius: 50%;
    color: white;
    font-weight: bold;
  }

  .lottonum1 {
    background-color: #f3bb04f1;
  }

  .lottonum2 {
    background-color: #1582ff;
  }
  
  .lottonum3 {
    background-color: #ff9100;
  }
  
  .lottonum4 {
    background-color: #c5c5c5;
  }
  
  .lottonum5 {
    background-color: #f73535;
  }